#header,#footer{
	height: .98rem;
	width: 100%;
	position: fixed;
	/* background-color: pink; */
}
#header{
	top: 0;
	left: 0;
	background-color: #D34041;
}
.header_left{
	height: .4rem;
	width: 2rem;
	margin-top: .33rem;
	margin-left: .28rem;
	/* background-color: red; */
	float: left;
}
.header_left p{
	/* font-family: "微软雅黑"； */
	font-size: .36rem;
	color: #fff;
	line-height: .4rem;
	font-weight: bold;
}
.header_right{
	height: .6rem;
	width: 4.54rem;
	margin-top: .22rem;
	margin-left: .22rem;
	background-color: #fff;
	float: left;
	border-radius: .2rem;
}
input{
	width: 3.9rem;
	height: .6rem;
	float: left;
	/* border-radius: .2rem; */
	outline: none;
	border: 0;
	background: none; 
}
#sousuo{
	width: .6rem;
	height: .6rem;
	/*border-left: 1px solid #E0E0E0;*/
	cursor: pointer;
	float: left;
	background: url('imgs/1.png');
}
#main{
	/* height: 18.3rem; */
	/* background-color: skyblue; */
	position: absolute;
	top: .98rem;
	overflow-y: scroll;
	left: 0;
	right: 0;
	bottom: .98rem;
}
#main::-webkit-scrollbar{
	display: none;
}
.main_top{
	height: .88rem;
	width: 100%;
	border-bottom: .01rem solid #EBEBEB;
	border-top: .01rem solid #EBEBEB;
	/* background-color: yellow; */
}
.main_top_item{
	height: .34rem;
	width: .75rem;
	margin-top: .3rem;
	margin-left: .28rem;
	/* background-color: pink; */
	float: left;
}
.main_top_item p{
	font-size: .36rem;
	color: #D33D3E;
	line-height: .3rem;
	/* letter-spacing: .04rem; */
}
.main_top_item2{
	margin-left: .45rem;
}
.main_top_item p{
	color: #000;
}
.main_top_shizi{
	height: .32rem;
	width: .32rem;
	float: left;
	/* background-color: red; */
	margin-left: .03rem;
	position: relative;
	margin-top: .24rem;
}
.main_top_shizi_shu{
	height: .32rem;
	width: .02rem;
	background-color: #000;
	position: absolute;
	left: .15rem;
	top: 0;
	z-index: -0.02;
}
.main_top_shizi_heng{
	height: .02rem;
	width: .32rem;
	background-color: #000;
	position: absolute;
	top: .16rem;
	left: 0;
}
.main_zhong{
	height: 3.07rem;
	width: 7.03rem;
	/* background-color: red; */
	border-bottom: 0.01rem solid #D9D9D9;
	margin: .2rem auto 0;
}
.main_zhong_wen{
	height: .77rem;
	width: 7.03rem;
}
.main_zhong_wen p{
	font-size: .36rem;
	color: #000;
	font-weight: bold;
}
.main_zhong_tu{
	height: 1.68rem;
	width: 2.3rem;
	margin-right: .06rem;
	margin-top: .22rem;
	float: left;
}
.main_zhong_tu img{
	height: 1.68rem;
	width: 2.3rem;
}
.main_zhong_tu2{
	margin-right: 0;
}
.main_zhong_xiazi{
	height: .18rem;
	/* width: 2.3rem; */
	margin-top: .13rem;
}
.main_zhong_xiazi p{
	font-size: .18rem;
	color: #818181;
	float: left;
	margin-right: .13rem;
}
.main_zhong2{
	height: 2.66rem;
	width: 7.03rem;
	/* background-color: red; */
	border-bottom: 0.01rem solid #D9D9D9;
	margin: .2rem auto 0;
}
.main_zhong_wen2{
	height: .34rem;
	width: 7.03rem;
}
#footer{
	bottom: 0;
	left: 0;
	background-color: #F9F9F9;
}
.footer_item{
	height: .72rem;
	width: .5rem;
	margin-top: .15rem;
	/* background-color: red; */
	position: relative;
	margin-left: .64rem;
	float: left;
}
.footer_item img{
	height: .4rem;
	width: .37rem;
	position: absolute;
	top: 0;
	color: #FE5758;
	margin-left: .03rem;
}
.footer_item p{
	font-size: .24rem;
	color: #FE5758;
	float: left;
	position: absolute;
	bottom: 0;
}
.footer_item2{
	margin-left: 1.25rem;
	height: .72rem;
	width: .75rem;
	margin-top: .15rem;
	/* background-color: red; */
	position: relative;
	float: left;
}
.footer_item2 img{
	height: .4rem;
	width: .37rem;
	position: absolute;
	top: 0;
	color: #000;
	margin-left: .04rem;
}
.footer_item2 p{
	font-size: .24rem;
	color: #000;
	float: left;
	position: absolute;
	bottom: 0;
}